# Dépendances
node_modules
.pnpm-store

# Build de production
/dist
/dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeurs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea
*.swp
*.swo
*~
.DS_Store

# Variables d'environnement locales
.env
.env.local
.env.*.local

# Tests
coverage

# OS
Thumbs.db
